@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo*/

h1, h2, h3 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1c1c1c;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* Navigation Links */

#menu {
    font-size: 150%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #1c1c1c;
}

.current {
    border-bottom: 1px solid #1c1c1c;
}

/* Book image and about us text */

#about-us {
    color: #3a3a3a;
    font-weight: 300;
    font-size: 110%;
}

#clickable-book-club {
    border-bottom: none;
}

#book-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: green;
}

#book-image {
    height: 750px;
    width: 100%;
    background: url(/Images/henry-be-lc7xcWebECc-unsplash.jpg);
}
